<!DOCTYPE html>
<html lang="{{@site.lang}}">
<div class="footer_subscribe_form">
    <h3 class="footer_subscribe_form_title">Subscribe to {{@site.title}} now!</h3>
    {{subscribe_form placeholder="Your email address" form_class="footer_subscribe_form" input_class="footer_subscribe_input" button_class="footer_subscribe_button"}}
</div>
</html>