<!DOCTYPE html>
<html lang="{{@site.lang}}">
<div class="footer_nav">
	<h3 class="footer_nav_title">Navigation</h3>
	<ul>
		{{#foreach @site.navigation}}
			<li><a id="{{label}}" class="footer_nav_text">{{label}}</a></li>
		{{/foreach}}
		<li><a id="Search" class="footer_nav_text">Search</a></li>
	</ul>
</div>
<script type="text/javascript">
	$(".footer_nav_text").each(function () {
		var label=$(this);
		//console.log(label);
		//console.log(label.attr("id"));
		var temp;
		switch (label.attr("id")) {
			case "Archive": temp=window.location.origin+"/archives"; break;
			case "Tags": temp=window.location.origin+"/tags"; break;
			case "Contact": temp=window.location.origin+"/contact"; break;
			case "Search": temp=window.location.origin+"/search"; break;
			default: temp=window.location.origin; break;
		} 
		label.attr("href", temp);
	});
</script>
</html>