<!DOCTYPE html>
<html lang="{{@site.lang}}">
{{!< default}}
<header class="site-header outer">
    <div class="inner">
        {{> "site-nav"}}
    </div>
</header>
<div class="site-main outer">
	<main id="site-main" class="site-main outer">
		<div class="inner">
			<article class="post-full post page no-image">
				<header class="post-full-header">
					<h1 class="post-full-title">Search</h1>
				</header>
				<section class="post-full-content">
					<div class="search_form" id="search_form">
						<input type="text" id="search-field" placeholder="Search here" class="search_field"/>
						<button class="remove_field">&#10005;</button>
					</div>
					<section id="results"></section>
				</section>
			</article>
		</div>
	</main>
</div>
<script src="{{asset 'js/search.js'}}"></script>
<script type="text/javascript">
	$(".remove_field").click(function () {
		$("#search-field").val("");
		$("#results").empty();
	})
</script>
</html>